<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Imenus symfony API</title>
    </head>

    <body>
        <div>
            <p>Imenus Symfony API v{{ version }}</p>
        </div>
    </body>
</html>
