{% extends 'PDF/base.html.twig' %}

{% block title %}Menu du Restaurant {{ store.name | upper }}{% endblock %}

{% block body %}
    <header>
        <h1>{{ store.name | upper }}</h1> <br />
        <h2>Notre Menu</h2>
    </header>

    <div class="block-info">
        <strong>{{ store.phoneNumber }}</strong>
    </div>

    <div class="block-menu">
        {% if menuConfigurators|length > 0 %}
            {% for key, menuConfiguratorsByMenuTitle in menuConfigurators %}
                <section class="menu menu-{{ key }}">
                    <h3 class="title">{{ key }}</h3>
                    <hr />

                    <ul>
                        {% for menu in menuConfiguratorsByMenuTitle %}
                            <li>
                                <h4>{{ menu.name | upper }}</h4>

                                {#  {% if menu.mediaManager %}
                                    <img class="item-image" src="data:image/png;base64,{{ menu.mediaManager.url }}"
                                         alt="image du produit"
                                    >
                                {% endif %}#}

                                <p class="description">
                                    {{ menu.description | capitalize | raw }}
                                </p>

                                <div class="price">
                                    {% if menu.priceMenu %}
                                        <span>menu :</span>
                                        {{ menu.priceMenu | number_format(2, '.', ',') }} €
                                        <br />
                                    {% endif %}

                                    {% if menu.priceMenu %}
                                        <span>seul:</span>
                                    {% endif %}

                                    {{ menu.price | number_format(2, '.', ',') }} €
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </section>
            {% endfor %}
        {% endif %}
    </div>

    <pageCount>
        <a href="https://imenus.fr">imenus.fr</a>

        Page
        <span class="page-number"></span>
        /
        {{ "now"|date('d/m/Y') }}
    </pageCount>
{% endblock %}

{% block style %}
    <style>
        body {
            font-family: 'Roboto', Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            text-align: center;
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

        .block-info {
            float: right;
        }

        .block-menu {
            margin-top: 1rem;
        }

        .block-info > strong {
            font-size: 18px;
        }

        .description {
            width: 80%;
            margin-left: 1rem;
            font-size: 12px;
        }

        .menu {
            margin: 40px;
        }

        h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 10px;
        }

        .title {
            text-align: center;
            color: white;
            background-color: #313131FF;
        }

        .price {
            display: inline-block;
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            float: right;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: #fff;
        }

        footer a {
            color: #fff;
            text-decoration: none;
        }

        .social-icons {
            margin-top: 10px;
        }

        .social-icons a {
            color: #fff;
            font-size: 24px;
            margin: 0 10px;
            transition: color 0.3s ease-in-out;
        }

        .social-icons a:hover {
            color: #00a0e9;
        }

        pageCount {
            position: fixed;
            bottom: -90px;
            left: 560px;
            height: 70px;
            text-align: center;
            line-height: 20px;
            font-size: 10px;
        }

        .item-image {
            width: 100%;
            margin: 1em auto;
        }

        .page-number:after {
            content: counter(page);
        }
    </style>
{% endblock %}