{% extends 'Email/base.html.twig' %}

{% block body %}
    <body style="width:100%;font-family:Arial, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0">
    <div>
        <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0"
               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;
                   Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"
        >
            <tr style="border-collapse:collapse">
                <td valign="top" style="padding:0;Margin:0">
                    <table class="es-content" cellspacing="0" cellpadding="0" align="center"
                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"
                    >
                        <tr style="border-collapse:collapse">
                            <td align="center" style="padding:0;Margin:0">
                                <table class="es-content-body" cellspacing="0" cellpadding="0"
                                       align="center"
                                       bgcolor=""
                                       style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0;width:100%"
                                >
                                    <tr style="border-collapse:collapse">
                                        <td style="padding:20px;Margin:0;
                                            background-repeat:no-repeat;background-position:center 100px;background-color:#040404"
                                            align="left"
                                            bgcolor="#040404"
                                        >
                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                            >
                                                <tr style="border-collapse:collapse">
                                                    <td valign="top" align="center"
                                                        style="padding:0;Margin:0;width:600px"
                                                    >
                                                        <table width="100%" cellspacing="0" cellpadding="0"
                                                               role="presentation"
                                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                        >
                                                            <tr style="border-collapse:collapse">
                                                                <td align="center"
                                                                    style="padding:0;Margin:0;padding-top:15px;padding-bottom:15px"
                                                                >
                                                                    <div>
                                                                        <h2 style="Margin:0;line-height:36px;
                                                                            mso-line-height-rule:exactly;font-family:Arial,
                                                                            sans-serif;font-size:25px;font-style:normal;
                                                                            font-weight:normal;color:#efe8dd"
                                                                        >
                                                                            <strong>
                                                                                Validation de votre commande
                                                                                n°{{ order.reference }}.
                                                                            </strong>
                                                                        </h2>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr style="border-collapse:collapse"></tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr style="border-collapse:collapse">
                                        <td style="Margin:0;padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;background-color:#f8f8f8"
                                            bgcolor="#f8f8f8" align="left"
                                        >
                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                            >
                                                <tr style="border-collapse:collapse">
                                                    <td valign="top" align="center"
                                                        style="padding:0;Margin:0;width:580px"
                                                    >
                                                        <table width="80%" cellspacing="0" cellpadding="0"
                                                               role="presentation"
                                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                        >
                                                            <tr style="border-collapse:collapse">
                                                                <td align="center"
                                                                    style="padding:0;Margin:0"
                                                                >
                                                                    <img class="adapt-img"
                                                                         src="{{ absolute_url(asset('images/check.png')) }}"
                                                                         alt="validation"
                                                                         width="100"
                                                                         style="margin-bottom:15px;display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                         height="100"
                                                                    >
                                                                </td>
                                                            </tr>

                                                            <tr style="border-collapse:collapse">
                                                                <td align="center"
                                                                    style="padding:0;Margin:0"
                                                                >
                                                                    <h4 style="Margin:0;line-height:29px;mso-line-height-rule:exactly;font-family:Arial, sans-serif;font-size:24px;font-style:normal;font-weight:normal;color:#191919"
                                                                    >
                                                                        {{ order.store.name|upper }} {{ order.store.city|capitalize }}
                                                                        a validé
                                                                        votre commande
                                                                        n°<b>{{ order.reference }}</b>.
                                                                        <br />
                                                                    </h4>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr style="border-collapse:collapse">
                                        <td style="padding: 15px 10px 10px;"
                                            bgcolor="#f8f8f8" align="left"
                                        >
                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                            >
                                                <tr style="border-collapse:collapse">
                                                    <td valign="top" align="center"
                                                        style="padding:0;Margin:0;width:580px"
                                                    >
                                                        <table width="70%" cellspacing="0" cellpadding="0"
                                                               role="presentation"
                                                               style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                                        >
                                                            <tr style="border-collapse:collapse">
                                                                <td align="center"
                                                                    style="padding:0;Margin:0;"
                                                                >
                                                                    Imenus vous remercie pour votre commande
                                                                    passée.
                                                                    <br />

                                                                    Elle sera prête à
                                                                    <h2>
                                                                        <strong>
                                                                            {{ "now"|date_modify('+15 min')
                                                                            |format_datetime('none', 'short', locale='fr')
                                                                            | date('H:i', "Europe/Paris") }}
                                                                        </strong>
                                                                    </h2>
                                                                    <br />

                                                                    L'estimation
                                                                    proposée par le restaurant peut être
                                                                    approximative
                                                                    mais vous
                                                                    avez déjà une petite idée de votre temps
                                                                    d'attente.
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    </body>
{% endblock %}