{% extends 'Email/base.html.twig' %}

{% block body %}
    <body style="
        width:100%;
        font-family:Arial, sans-serif;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        padding:0;
        Margin:0
    ">
    <div>
        <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0"
               style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0;padding:0;
                           Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"
        >
            <tr style="border-collapse:collapse">
                <table class="es-content" cellspacing="0" cellpadding="0" align="center"
                       style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0;table-layout:fixed !important;width:100%"
                >
                    <tr style="border-collapse:collapse">
                        <td align="center" style="padding:0;Margin:0">
                            <table class="es-content-body" cellspacing="0" cellpadding="0" align="center"
                                   style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0;background-color:#ff8c00;width:100%"
                            >
                                <tr style="border-collapse:collapse">
                                    <td style="padding:20px;Margin:0;
                                                    background-repeat:no-repeat;background-position:center 100px;background-color:#040404"
                                        align="left"
                                        bgcolor="#040404"
                                    >
                                        <table width="100%" cellspacing="0" cellpadding="0"
                                               style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                        >
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center"
                                                    style="padding:0;Margin:0;width:560px"
                                                >
                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                           role="presentation"
                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                    >
                                                        <tr style="border-collapse:collapse">
                                                            <td align="center"
                                                                style="padding:0;Margin:0;padding-top:15px;padding-bottom:15px"
                                                            >
                                                                <div>
                                                                    <h2 style="Margin:0;line-height:36px;
                                                                                    mso-line-height-rule:exactly;font-family:Arial,
                                                                                    sans-serif;font-size:25px;font-style:normal;
                                                                                    font-weight:normal;color:#efe8dd"
                                                                    >
                                                                        <strong>
                                                                            Votre commande n°{{ order.reference }}
                                                                            a bien était enregistrée.
                                                                        </strong>
                                                                    </h2>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr style="border-collapse:collapse">
                                    <td style="Margin:0;padding: 15px 10px 10px;background-color:#f8f8f8"
                                        bgcolor="#f8f8f8" align="left"
                                    >
                                        <table width="100%" cellspacing="0" cellpadding="0"
                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                        >
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center"
                                                    style="padding:0;Margin:0;width:580px"
                                                >
                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                           role="presentation"
                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                    >
                                                        <tr style="border-collapse:collapse">
                                                            <td align="center" style="padding:0;Margin:0">
                                                                <h2 style="Margin:0;line-height:29px;mso-line-height-rule:exactly;font-family:Arial, sans-serif;font-size:24px;font-style:normal;font-weight:normal;color:#191919"
                                                                >
                                                                    Détails de ma commande:
                                                                    <br>
                                                                </h2>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                {% set total = 0 %}

                                {% for line in order.orderLines %}
                                    <tr style="border-collapse:collapse">
                                        {% set total = total + line.quantity * line.price %}
                                        <td style="Margin:0;padding-bottom:5px;padding-left:20px;padding-right:20px;padding-top:25px;background-color:#f8f8f8"
                                            bgcolor="#f8f8f8" align="left"
                                        >
                                            <table style="width:560px" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="width:270px" valign="top">
                                                        <table class="es-left" cellspacing="0" cellpadding="0"
                                                               align="left"
                                                               style="
                                                               mso-table-lspace:0;
                                                               mso-table-rspace:0;
                                                               border-collapse:collapse;
                                                               border-spacing:0;
                                                               float:left"
                                                        >
                                                            <tr style="border-collapse:collapse">
                                                                <td class="es-m-p20b" align="left"
                                                                    style="padding:0;Margin:0;width:270px"
                                                                >
                                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                                           role="presentation"
                                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                                    >
                                                                        <tr style="border-collapse:collapse">
                                                                            <td align="center"
                                                                                style="padding:0;Margin:0;font-size:0px"
                                                                            >
                                                                                <img class="adapt-img"
                                                                                     src="{{ line.mediaManager.url }}"
                                                                                     alt="{{ line.name }}"
                                                                                     width="60"
                                                                                     style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                                     height="60"
                                                                                >
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                    <td style="width:20px"></td>
                                                    <td style="width:270px" valign="top">
                                                        <table class="es-right" cellspacing="0" cellpadding="0"
                                                               align="right"
                                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0;float:right"
                                                        >
                                                            <tr style="border-collapse:collapse">
                                                                <td align="left" style="padding:0;Margin:0;width:270px">
                                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                                           role="presentation"
                                                                           style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                                                    >
                                                                        <tr style="border-collapse:collapse">
                                                                            <td align="left" style="padding:0;Margin:0">
                                                                                <p
                                                                                        style="Margin:0;-webkit-text-size-adjust:none;
                                                                                        -ms-text-size-adjust:none;
                                                                                        mso-line-height-rule:exactly;font-family:Arial,
                                                                                         sans-serif;line-height:21px;
                                                                                        color:#333333;font-size:14px"
                                                                                >
                                                                                        <span style="font-size:16px">
                                                                                            <strong
                                                                                                    style="line-height:150%"
                                                                                            >
                                                                                                {{ line.name }}
                                                                                            </strong>
                                                                                        </span>
                                                                                </p>
                                                                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Arial, sans-serif;line-height:21px;color:#333333;font-size:14px">
                                                                                    Description: {{ line.description|raw }}
                                                                                </p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr style="border-collapse:collapse">
                                                                            <td align="left"
                                                                                style="Margin:0;padding: 20px 0 0;"
                                                                            >
                                                                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Arial, sans-serif;line-height:21px;color:#333333;font-size:14px">
                                                                                    <span style="font-size:15px">
                                                                                        <strong style="line-height:150%">
                                                                                            Prix:
                                                                                        </strong>
                                                                                        {{ line.price|format_currency('EUR', locale='de') }}
                                                                                    </span>
                                                                                </p>
                                                                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Arial, sans-serif;line-height:21px;color:#333333;font-size:14px">
                                                                                    <span style="font-size:15px">
                                                                                        <strong>Qty: </strong>
                                                                                        {{ line.quantity }}
                                                                                    </span>
                                                                                </p></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}


                                <tr style="border-collapse:collapse">
                                    <td style="Margin:0;padding: 10px;"
                                        bgcolor="#f8f8f8" align="left"
                                    >
                                        <table  cellspacing="0" cellpadding="0"
                                               style="
                                               width: 100%;
                                               mso-table-lspace:0;
                                               mso-table-rspace:0;
                                               border-collapse:collapse;
                                               border-spacing:0"
                                        >
                                            <tr style="border-collapse:collapse">
                                                <td valign="top" align="center"
                                                    style="padding:0;Margin:0;width:580px"
                                                >
                                                    <table cellspacing="0" cellpadding="0"
                                                           role="presentation"
                                                           style="width:100%;mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                                    >
                                                        <tr style="border-collapse:collapse">
                                                            <td bgcolor="#f8f8f8" align="center"
                                                                style="margin:0;padding: 20px 10px;font-size:0"
                                                            >
                                                                <table height="100%"
                                                                       cellspacing="0"
                                                                       cellpadding="0" border="0"
                                                                       role="presentation"
                                                                       style="height:100%;width:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                                >
                                                                    <tr style="border-collapse:collapse">
                                                                        <td style="padding:0;border-bottom:1px solid #191919;background:#FFFFFF none repeat scroll 0 0;height:1px;width:100%;margin:0"></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr style="border-collapse:collapse">
                                                            <td align="center">
                                                                <table
                                                                        cellspacing="1"
                                                                        cellpadding="1"
                                                                        border="0"
                                                                        role="presentation"
                                                                        style="height:101px;mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0;width:240px"
                                                                >
                                                                    <tr style="border-collapse:collapse">
                                                                        <td style="padding:0;margin:0">
                                                                            <strong>Sous-totals:</strong>
                                                                        </td>
                                                                        <td style="padding:0;margin:0;text-align:right">
                                                                            {{ total|format_currency('EUR', locale='de') }}
                                                                        </td>
                                                                    </tr>

                                                                    <tr style="border-collapse:collapse">
                                                                        <td style="padding:0;margin:0">
                                                                            <strong>
                                                                                Livraison:
                                                                            </strong>
                                                                        </td>
                                                                        <td style="padding:0;margin:0;text-align:right">
                                                                            0,00 €
                                                                        </td>
                                                                    </tr>

                                                                    <tr style="border-collapse:collapse">
                                                                        <td style="padding:0;margin:0">
                                                                            <strong>
                                                                                Frais:
                                                                            </strong>
                                                                        </td>
                                                                        <td style="padding:0;margin:0;text-align:right">
                                                                            {% set tax = 0 %}
                                                                            {{ tax|format_currency('EUR', locale='de') }}
                                                                        </td>
                                                                    </tr>

                                                                    <tr style="border-collapse:collapse">
                                                                        <td style="padding:0;margin:0">
                                                                                    <span
                                                                                            style="font-size:18px;line-height:36px"
                                                                                    >
                                                                                        <strong>Commande Total:</strong>
                                                                                    </span>
                                                                        </td>
                                                                        <td style="padding:0;margin:0;text-align:right">
                                                                            <span style="font-size:18px;line-height:36px">
                                                                                <strong>
                                                                                    {% set totalTTC = total + tax %}
                                                                                    {{ totalTTC|format_currency('EUR', locale='fr') }}
                                                                                </strong>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
    </div>
    </body>
{% endblock %}
