{% extends 'Email/base.html.twig' %}

{% block body %}
    <body style="width:100%;font-family:Arial, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;margin:0">
    <div>
        <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;
                   Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top"
        >
            <tr style="border-collapse:collapse">
                <td valign="top" style="padding:0;Margin:0">
                    <table class="es-content" cellspacing="0" cellpadding="0" align="center"
                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%"
                    >
                        <tr style="border-collapse:collapse">
                            <td align="center" style="padding:0;Margin:0">
                                <table class="es-content-body" cellspacing="0" cellpadding="0" align="center"
                                       style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0;background-color:#ff8c00;width:600px"
                                >
                                    <tr style="border-collapse:collapse">
                                        <td style="Margin:0;padding-left:10px;padding-right:10px;padding-top:20px;padding-bottom:20px;background-color:#191919"
                                            bgcolor="#191919" align="left"
                                        >
                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                   style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                            >
                                                <tr style="border-collapse:collapse">
                                                    <td valign="top" align="center"
                                                        style="padding:0;Margin:0;width:580px"
                                                    >
                                                        <table width="100%" cellspacing="0" cellpadding="0"
                                                               role="presentation"
                                                               style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                                        >
                                                            <tr style="border-collapse:collapse">
                                                                <td align="center"
                                                                    style="padding:25px;color:white;"
                                                                >
                                                                    <h2>{{ title }}</h2>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr style="border-collapse:collapse">
                                        <td style="Margin:0;padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:15px;background-color:#f8f8f8"
                                            bgcolor="#f8f8f8" align="left"
                                        >
                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                   style="color:black;mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                            >
                                                <tr style="border-collapse:collapse">
                                                    <td valign="top" align="center"
                                                        style="padding:25px;Margin:0;width:580px"
                                                    >
                                                        <table width="100%" cellspacing="0" cellpadding="0"
                                                               role="presentation"
                                                               style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0"
                                                        >
                                                            <tr style="border-collapse:collapse">
                                                                <td style="padding:0;Margin:0">
                                                                    <div style="Margin:0;line-height:29px;font-family:Arial, sans-serif;font-size:20px;">
                                                                        <p>
                                                                            <strong>
                                                                                Bonjour
                                                                                {{ user.firstname|capitalize }}
                                                                                {{ user.lastname|upper }},
                                                                            </strong>

                                                                            <br />
                                                                        </p>

                                                                        <p>
                                                                           {{ content }}
                                                                        </p>

                                                                        <p style="text-align:center;">
                                                                            <a href="{{ url }}">Réinitialiser votre mot de passe</a>
                                                                        </p>

                                                                        <br />

                                                                    </div>

                                                                    <div>
                                                                        <p>A très bientôt !</p>
                                                                        <p>Votre Service Clients.</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    </body>
{% endblock %}