<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %}</title>

    {% block style %}
        <style>
            @media only screen and (max-width: 600px) {
                .inner-body {
                    width: 100% !important;
                }

                .footer {
                    margin-top: 80px;
                    width: 100% !important;
                }
            }

            .wrapper {
                width: 100%;
            }

            .content {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }

            .header {
                margin: 0 auto;
                text-align: center;
                padding: 20px 0;
            }

            .logo {
                display: inline-block;
            }

            .body {
                padding: 0;
                margin: 0;
                width: 100%;
            }

            .inner-body {
                margin: 0 auto;
                width: 100%;
            }

            .content-cell {
                padding: 0;
            }

            .footer {
                text-align: center;
            }

            .adapt-img {
                text-align: center;
            }
        </style>

        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<table class="wrapper" role="presentation">
    <tr>
        <td class="text-center mx-auto">
            <table class="content" role="presentation">
                <tr>
                    <td class="header">
                        <a href="https://www.imenus.fr/">
                            <img src="https://imenus.fr/_nuxt/img/imenus-logo-black.29f6a52.png"
                                 class="logo adapt-img"
                                 alt="imenus Logo"
                                 width="105"
                                 style=""
                                 height="41"
                            >
                        </a>
                    </td>
                </tr>

                <tr>
                    <td class="body">
                        <table class="inner-body" role="presentation">
                            <tr>
                                <td class="content-cell">
                                    {% block body %}{% endblock %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table class="footer" role="presentation">
                            <tr>
                                <td class="content-cell">
                                    <table cellpadding="0" cellspacing="0" class="es-footer" align="center"
                                           style="
                                           mso-table-lspace:0;mso-table-rspace:0;
                                           border-collapse:collapse;border-spacing:0;table-layout:fixed !important;
                                           background-color:transparent;background-repeat:repeat;
                                           background-position:center top"
                                    >
                                        <tr style="border-collapse:collapse">
                                            <td align="center" style="padding:0;Margin:0">
                                                <table class="es-footer-body" cellspacing="0" cellpadding="0"
                                                       align="center"
                                                       style="mso-table-lspace:0;mso-table-rspace:0;border-collapse:collapse;border-spacing:0;background-color:#242424;width:600px"
                                                >
                                                    <tr style="border-collapse:collapse">
                                                        <td align="left" style="padding:20px;Margin:0">
                                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                                   style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                            >
                                                                <tr style="border-collapse:collapse">
                                                                    <td valign="top" align="center"
                                                                        style="padding:0;Margin:0;width:560px"
                                                                    >
                                                                        <table width="100%" cellspacing="0"
                                                                               cellpadding="0"
                                                                               role="presentation"
                                                                               style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                                        >
                                                                            <tr style="border-collapse:collapse">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;padding-top:10px;padding-bottom:20px;font-size:0"
                                                                                >
                                                                                    <table class="es-table-not-adapt es-social"
                                                                                           cellspacing="0"
                                                                                           cellpadding="0"
                                                                                           role="presentation"
                                                                                           style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px"
                                                                                    >
                                                                                        <tr style="border-collapse:collapse">
                                                                                            <td valign="top"
                                                                                                align="center"
                                                                                                style="padding:0;Margin:0;padding-right:15px"
                                                                                            >
                                                                                                <img title="Twitter"
                                                                                                     src="https://pqjrej.stripocdn.email/content/assets/img/social-icons/circle-gray-bordered/twitter-circle-gray-bordered.png"
                                                                                                     alt="Tw" width="32"
                                                                                                     height="32"
                                                                                                     style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                                                />
                                                                                            </td>
                                                                                            <td valign="top"
                                                                                                align="center"
                                                                                                style="padding:0;Margin:0;padding-right:15px"
                                                                                            >
                                                                                                <img title="Facebook"
                                                                                                     src="https://pqjrej.stripocdn.email/content/assets/img/social-icons/circle-gray-bordered/facebook-circle-gray-bordered.png"
                                                                                                     alt="Fb" width="32"
                                                                                                     height="32"
                                                                                                     style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                                                >
                                                                                            </td>
                                                                                            <td valign="top"
                                                                                                align="center"
                                                                                                style="padding:0;Margin:0;padding-right:15px"
                                                                                            >
                                                                                                <img title="Instagram"
                                                                                                     src="https://pqjrej.stripocdn.email/content/assets/img/social-icons/circle-gray-bordered/instagram-circle-gray-bordered.png"
                                                                                                     alt="IT"
                                                                                                     width="32"
                                                                                                     height="32"
                                                                                                     style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                                                >
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr style="border-collapse:collapse">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;padding-top:20px;padding-bottom:20px"
                                                                                >

                                                                                    <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Arial, sans-serif;line-height:16px;color:#888888;font-size:13px">
                                                                                        <a target="_blank"
                                                                                           href="mailto:contact@imenus.fr"
                                                                                           style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:none;color:#AAAAAA;font-size:13px;line-height:16px"
                                                                                        >
                                                                                            contact@imenus.fr</a>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr style="border-collapse:collapse">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px"
                                                                                >
                                                                                    <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Arial, sans-serif;line-height:20px;color:#888888;font-size:13px">
                                                                                        <em>
                                                                                            <span style="font-size:11px;line-height:17px">
                                                                                              Cet email vous a été envoyé suite à votre commande sur Imenus.
                                                                                                Pour retrouver votre commande, rendez-vous sur imenus.fr .
                                                                                                Si ce n'est pas vous qui avez passé la commande, veuillez
                                                                                                nous contacter à l'adresse contact@imenus.fr .
                                                                                            </span>
                                                                                        </em>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr style="border-collapse:collapse">
                                                                                <td align="center"
                                                                                    style="padding:0;Margin:0;font-size:0"
                                                                                >
                                                                                    <a target="_blank" href=""
                                                                                       style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:none;color:#3CA7F1;font-size:14px"
                                                                                    >
                                                                                        <img src="https://imenus.fr/_nuxt/img/imenus-logo.139f9a5.png"
                                                                                             class="logo adapt-img"
                                                                                             alt="imenus Logo"
                                                                                             width="105"
                                                                                             style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                                             height="41"
                                                                                        >
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
